/.idea
/src/HMS.Essentials.Core/obj
/src/HMS.Essentials.Core/bin
/src/HMS.Essentials.Data/obj
/src/HMS.Essentials.Demo/obj
/src/HMS.Essentials.Logging/obj
/src/HMS.Essentials.Demo/bin
/src/HMS.Essentials.Data/bin
/src/HMS.Essentials.Logging/bin
/test/HMS.Essentials.Core.Tests/bin
/test/HMS.Essentials.Core.Tests/obj
/test/HMS.Essentials.Data.Tests/bin
/test/HMS.Essentials.Data.Tests/obj
/test/HMS.Essentials.Logging.Tests/bin
/test/HMS.Essentials.Logging.Tests/obj
/HMS.Essentials.sln.DotSettings.user
/src/HMS.Essentials.Ddd.Domain.Shared/obj
/src/HMS.Essentials.Ddd.Domain/obj
/src/HMS.Essentials.Ddd.Domain.Shared/bin
/src/HMS.Essentials.Ddd.Domain/bin
/test/HMS.Essentials.Ddd.Domain.Tests/bin
/test/HMS.Essentials.Ddd.Domain.Tests/obj
/src/HMS.Essentials.Application.Contracts/obj
/src/HMS.Essentials.Application/obj
/src/HMS.Essentials.Application.Ddd.Contracts/obj
/src/HMS.Essentials.Application.Ddd.Contracts/bin
/src/HMS.Essentials.Ddd.Application/bin
/src/HMS.Essentials.Ddd.Application/obj
/src/HMS.Essentials.UnitOfWork.InMemoryDummy/bin
/src/HMS.Essentials.UnitOfWork.InMemoryDummy/obj
/src/HMS.Essentials.UnitOfWork/obj
/test/HMS.Essentials.UnitOfWork.InMemoryDummy.Tests/bin
/test/HMS.Essentials.UnitOfWork.InMemoryDummy.Tests/obj
/src/HMS.Essentials.UnitOfWork/bin
/src/HMS.Essentials.MediatR.Contracts/bin
/src/HMS.Essentials.MediatR.Contracts/obj
/src/HMS.Essentials.MediatR/bin
/src/HMS.Essentials.MediatR/obj
/src/HMS.Essentials.MediatR.Commands/bin
/src/HMS.Essentials.MediatR.Commands/obj
/src/HMS.Essentials.MediatR.DomainEvents/obj
/src/HMS.Essentials.MediatR.Queries/obj
/src/HMS.Essentials.MediatR.DomainEvents/bin
/src/HMS.Essentials.MediatR.Queries/bin
/src/HMS.Essentials.Ddd.Application.Contracts/bin
/src/HMS.Essentials.Ddd.Application.Contracts/obj
/test/HMS.Essentials.MediatR.Commands.Tests/bin
/test/HMS.Essentials.MediatR.Commands.Tests/obj
/test/HMS.Essentials.MediatR.DomainEvents.Tests/bin
/test/HMS.Essentials.MediatR.DomainEvents.Tests/obj
/test/HMS.Essentials.MediatR.Queries.Tests/bin
/test/HMS.Essentials.MediatR.Queries.Tests/obj
/test/HMS.Essentials.MediatR.Tests/bin
/test/HMS.Essentials.MediatR.Tests/obj
/src/HMS.Essentials.MediatR.Attributes/obj
/src/HMS.Essentials.MediatR.Attributes/bin
/src/HMS.Essentials.Ddd.Application.Commands/bin
/src/HMS.Essentials.Ddd.Application.Commands/obj
/src/HMS.Essentials.Ddd.Application.Queries/bin
/src/HMS.Essentials.Ddd.Application.Queries/obj
/src/HMS.Essentials.Ddd.Domain.Events/bin
/src/HMS.Essentials.Ddd.Domain.Events/obj
/src/HMS.Essentials.EntityFrameworkCore/bin
/src/HMS.Essentials.EntityFrameworkCore/obj
